# Auto detect text files and perform LF normalization
* text=auto
*.mk llinguist-vendored
Makefile llinguist-vendored
*.sh linguist-vendored
*.bat linguist-vendored
ffmpeg/** linguist-vendored
assets/** linguist-vendored
*.exe linguist-vendored
*.bat linguist-vendored